.related-articles {
    margin: 52px 0 37px 0;
}

.related-articles__wrapper {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.related-articles__wrapper h4 {
    font-family: Myriad Pro;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 2%;
    text-transform: uppercase;
    color: #1B204C;
}

.related-articles__items {
    display: flex;
    flex-direction: row;
    gap: 35px;

}

.related-articles__item {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: calc(33% - 19px);

}

.swiper .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 28px;
    position: relative;
}

.navs-slider {
    margin-bottom: 5px;
    width: 100%;
    height: auto;
}

.navs-slider {
    display: none;
    gap: 10px;
    position: absolute;
    width: fit-content;
    right: 0;
}

.swiper-button-prev,
.swiper-button-next {
    opacity: 1 !important;
    position: unset !important;
    left: unset !important;
    right: unset !important;
    margin: 0 !important;
}

.swiper-button-prev,
.swiper-button-next rect{
    stroke-opacity: 1!important;
    fill-opacity: 1!important;
}

.swiper-button-prev,
.swiper-button-next path{
    fill-opacity: 1!important;
    stroke-opacity: 1!important;

}
.swiper-button-disabled{
    transition: all 0.4s ease-in-out;
    opacity: 0.2!important;
}
.related-articles__item .img-wrapper {
    width: 100%;
    height: 251px;
}

.related-articles__item .img-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.related-articles__item-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.related-articles__item-text__info {
    display: flex;
    flex-direction: row;
    height: 35px;
    border-bottom: 1px solid #758592;
    justify-content: space-between;
}

.related-articles__item-text__info .category {
    font-family: Myriad Pro;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 50px;
    display: flex;
    padding: 0 12px;
    justify-content: center;
    align-items: center;
    height: 20px;
    background: #727DA3;
}

.related-articles__item-text__info .date {
    font-family: Myriad Pro;
    font-weight: 400;
    font-size: 12px;
    line-height: 155%;
    letter-spacing: 2px;
    text-align: right;
    vertical-align: middle;
    text-transform: uppercase;
    color: #758592;
}

.related-articles__item-text h5 {
    font-family: Myriad Pro;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #1B204C;
}

.related-articles__item-text a {
    margin-top: -11px;
    font-family: Myriad Pro;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #727DA3;
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 8px;
}

@media screen and (max-width:1024px) {
    .related-articles {
        margin: 40px 0;
    }

    .navs-slider {
        display: flex;
    }

    .related-articles__wrapper {
        gap: 28px;
    }

    .related-articles__wrapper h4 {
        font-family: Myriad Pro;
        font-weight: 700;
        font-size: 26px;
        line-height: 48px;
        letter-spacing: 2%;
        text-transform: uppercase;
        color: #1B204C;
    }

    .related-articles__items {
        display: flex;
        flex-direction: unset;
        gap: 0;
        margin-bottom: 40px;

    }

    .related-articles__item {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 100%;

    }

    .related-articles__item .img-wrapper {
        width: 100%;
        height: 251px;
    }

    .related-articles__item .img-wrapper img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .related-articles__item-text {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .related-articles__item-text__info {
        display: flex;
        flex-direction: row;
        margin-top: 12px;
        height: 35px;
        border-bottom: 1px solid #758592;
        justify-content: space-between;
    }

    .related-articles__item-text__info .category {
        font-family: Myriad Pro;
        font-weight: 400;
        font-size: 11px;
        letter-spacing: 2px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        border-radius: 50px;
        display: flex;
        padding: 2px 8px;
        justify-content: center;
        align-items: center;
        height: 15px;
        background: #727DA3;
    }

    .related-articles__item-text__info .date {
        font-family: Myriad Pro;
        font-weight: 400;
        font-size: 12px;
        line-height: 155%;
        letter-spacing: 2px;
        text-align: right;
        vertical-align: middle;
        text-transform: uppercase;
        color: #758592;
    }

    .related-articles__item-text h5 {
        font-family: Myriad Pro;
        font-weight: 700;
        font-size: 20px;
        line-height: 130%;
        letter-spacing: 0%;
        vertical-align: middle;
        color: #1B204C;
    }

    .related-articles__item-text a {
        margin-top: -11px;
        font-family: Myriad Pro;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0%;
        vertical-align: middle;
        color: #727DA3;
        display: flex;
        align-items: center;
        text-decoration: none;
        gap: 8px;
    }

}