.video-section {
    margin: 0 0 72px 0;
}

.video-section iframe {
    width: 100%;
    height: 700px;
}

@media screen and (max-width:1024px) {
    .video-section {
        margin: 0 0 40px 0;
    }

    .video-section iframe {
        width: 100%;
        height: 220px;
    }
}